/*1*/
.perer{
	background-image:url("2.png");
	background-repeat:no-repeat;
	background-size: cover;
}
body{
	background-color: white;
}
li
{
	color:black;
	font-size: 15px;
	font-family: Arial,sans-serif;
	line-height: 20px;
}
/*Меню*/
ul.css-menu-1{
	list-style: none;
}
ul.css-menu-1 li{
	display: inline;
}
ul.css-menu-1 li a{
	font-size: 20px;
	font-family: 'Courier New', sans-serif;
	text-decoration: none;
	color: #4a92a8;
	padding: 0px 20px 20px 20px;
}
ul.css-menu-1 li a:hover{
	font-size:20px;
	font-family: 'Courier New', sans-serif;
	color: #60ccd9;
	padding: 12px 20px 12px 20px;
}
ul.css-menu-2{
	list-style: none;
}
ul.css-menu-2 li{
	display: inline;
}
ul.css-menu-2 li a{
	font-size:15px;
	font-family: 'Courier New', sans-serif;
	text-decoration: none;
	color: black;
	padding: 12px 15px 15px 15px;
}
ul.css-menu-2 li a:hover{
	font-size:15px;
	font-family: 'Courier New', sans-serif;
	text-decoration: underline;
	color: #61908a;
	padding: 12px 15px 15px 15px;
}
/*Блоки*/
.menu{
	text-align:left;
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	width: 100%;
	height: 70px;
	overflow:hidden;
	background-image:url("222.png");
	background-repeat:no-repeat;
	background-size: cover;
	padding: 0px 20px 20px 20px;
}
.menu_n{
	text-align:left;
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	width: 100%;
	height: 40px;
	overflow:hidden;
	background-image:url("222.png");
	background-repeat:no-repeat;
	background-size: cover;
	padding: 0px 20px 20px 20px;
}
.menu_nap{
	text-align:center;
	position: fixed;
	bottom: 0px;
	right: 0px;
	left: 0px;
	width: 100%;
	height: 40px;
	overflow:hidden;
	background-image:url("222.png");
	background-repeat:no-repeat;
	background-size: cover;
	padding: 0px 20px 20px 20px;
}
.menu_2{
	text-align:left;
}
.kartinka{
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	width: 100%;
	height: 59%;
	background-image:url("23.png");
	background-repeat:no-repeat;
	background-size: cover;
}
.all{
	position: absolute;
	top:59%;
	right: 0px;
	left: 0px;
	background: white;
	width:100%;
}
.cel_gol
{
	text-align:center;
	padding:0% 0% 0% 0%;
	width:100%;
	background: white;
	overflow:hidden;
}
.cel_text
{
	padding:0% 20% 0% 20%;
	width:60%;
	overflow:hidden;
}
.cel_table
{
	padding:0% 10% 5% 10%;
	width:80%;
	overflow:hidden;
	margin:auto;
}
.endd
{
	text-align:center;
	padding:0.25%;
	width:99.5%;
	background: #4a92a8;
}
/*стили текстов*/
.buton{
	color: rgba(255,255,255,1);
	font-size: 20px;
}
.end1{
	color:white;
	font-size: 15px;
}
h1{
	font-size: 40px;
	font-family: Arial, sans-serif;
}
h2{
	font-size: 25px;
	font-family: Arial, sans-serif;
}
.text{
	font-family: Arial, sans-serif;
	font-size: 15px;
	line-height: 20px;
	text-align: justify;
}
.textt{
	font-family: Arial, sans-serif;
	font-size: 10px;
}
.textus{
	font-family: 'Courier New', Arial;
	font-weight: bold;
	font-style: italic;
	color:#191970;
	font-size:70px;
	text-align: center;
}
.text1{
	font-family: Arial, sans-serif;
	font-size: 13px;
	text-align: left;
}
.cina{
	font-family: Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
}
